<!-- The top MOBIFLY main banner space -->
<!--div class="row" style="padding-top:40px; padding-bottom: 80px; background-color: #ddd">
	<div class="span5 center" style="margin-top: 20px">
		<hwelcome>Welcome to</hwelcome>
		<htitle>MOBIFLY</htitle>
 	</div>
 	<div class="span6" style="margin-top:10px; margin-left: 40px;">
 		<intro>
 		Share files between devices anytime, anywhere.
 		</intro>
 		<intro>
 			<b>
 			Access your files on mobile devices 20x faster.
 			</b>
 		</intro>
 		<div style="margin-top: 20px; margin-left: 100px">
 		<%= link_to "Download Mobifly", '#', class: "btn btn-custom" %>
 		</div>
 	</div>
</div-->


<!-- The "How it Works" section -->
<div class="row" style="margin-top:20px; margin-bottom: 40px;">
	<div class="span4" style="background-color:#fbefdb; padding-top: 16px; padding-bottom: 16px; -moz-border-radius: 10px; border-radius: 10px; min-height:280px">
		<div style="width: 260px; padding-left: 20px;">
			<howto><b>
				INSTALL Mobifly on your devices
			</b></howto>
			<br/>
			<center>
				<%= image_tag("intro1.png", :alt => "install") %>
			</center>
			<br/>
			<%= link_to "Get the Mobifly app", '#' %> on your smartphone, tablet, or Windows PC.  <%= link_to "Create an account", signup_path %> to link these devices.
		</div>
	</div>
	<div class="span4" style="background-color:#fbefdb; padding-top: 16px; padding-bottom: 16px; -moz-border-radius: 10px; border-radius: 10px; min-height:280px">
		<div style="width: 260px; padding-left: 20px;">
			<howto><b>
				ACCESS FILES from any connected device
			</b></howto>
			<br/>
			<center>
				<%= image_tag("intro2.png", :alt => "install") %>
			</center>
			<br/>
			Remotely access Windows Shares files from any of your linked devices.
		</div>
	</div>
	<div class="span4" style="background-color:#fbefdb; padding-top: 16px; padding-bottom: 16px; -moz-border-radius: 10px; border-radius: 10px; min-height:280px">
		<div style="width: 260px; padding-left: 20px;">
			<howto><b>
				LIGHTNING FAST Mobile Access
			</b></howto>
			<br/>
			<center>
				<%= image_tag("intro3.png", :alt => "install") %>
			</center>
			<br/>
			Our proprietary technologies make file transfers to and from any 3G / 4G connected device astoundingly fast.  <%= link_to "Learn more here.", how_path %>
		</div>
	</div>
</div>



